
.bag {
  position:relative; 
  top: 23px; 
  left: 77px; 
  width: 63px; 
  z-index: 1;
}

.table {
  position: relative; 
  top: 80px; 
  left: -50px; 
  width: 180px;
}

.agent {
  position:relative; 
  top: 10px; 
  left: -20px; 
  width: 205px; 
  z-index: 1;
}

#stage {
  width: 800px;
  height: 440px;
}

.point_agent_r {
    position: absolute;
    bottom: 255px;
    left: 368px;
    width: 280px;
}

.point_agent_l {
    position: absolute;
    bottom: 255px;
    left: 392px;
    width: 280px;
}

.agent_eat {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

#logo-text {
  font-weight: bold;
}


.block-text {
  width: 500px;
  text-align: justify;
  margin: 0 auto;
  margin-bottom: 1em;
}


#legal {
  margin: 0 auto;
  margin-top: 1.5em;
  font-size: 0.8em;
}

#number {
  font-size: 42px;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  text-align: center;
  width: 100px;
  margin-top: 100px;
}

/*
.bag {
  width: 62px;
}

.table {
  width: 180px;
}

.agent {
    position: absolute;
    bottom: 255px;
    left: 400px;
    width: 220px;
}

#table_r {
    position: absolute;
    bottom: 0px;
    left: 590px;
    z-index: 0
}

#table_l {
    position: absolute;
    bottom: 0px;
    left: 30px;
    z-index: 0
}

#bag_r {
    position: absolute;
    bottom: 185px;  
    left: 690px;
    z-index: 1
}

#bag_l {
    position: absolute;
    bottom: 185px;
    left: 140px;
    z-index: 1
}

*/
